{% extends "base.html" %} 

{% block title %}Agregar Producto{% endblock %}

{% block styles %} 
    <link rel="stylesheet" href="/styles/agregar_producto.css">
{% endblock %}

{% block body %}
    <form class="box" action="/productos/agregar" method="post" enctype="multipart/form-data">
        <div class="columns">
            <div class="column">
                <div class="field">
                    <label class="label" for="nombre">Nombre</label>
                    <div class="control">
                        <input class="input" placeholder="Sabritas" id="nombre" name="nombre" />
                    </div>
                </div>
            </div>
            <div class="column is-fullwidth">
                <label class="label" for="categoria">Categoría</label>
                <div class="select is-fullwidth">
                    <select id="categoria" name="categoria">
                        <option selected disabled>Selecciona una categoría</option>
                        {% for categoria in categorias %}
                            <option value="{{ categoria.id }}">{{ categoria.nombre }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>
        <div class="columns">
            <div class="column">
                <label class="label" for="precio">Precio unitario</label>
                <div class="field has-addons">
                    <p class="control">
                        <a class="button is-static">$</a>
                    </p>
                    <p class="control">
                        <input class="input" type="number" placeholder="16.00" id="precio" name="precio" step=".01" />
                    </p>
                    <p class="control">
                        <a class="button is-static">MXN</a>
                    </p>
                </div>
            </div>
            <div class="column">
                <label class="label" for="cantidad_en_stock">Cantidad en stock</label>
                <div class="field has-addons">
                    <p class="control">
                        <input class="input" type="number" placeholder="8" id="cantidad_en_stock" name="cantidad_en_stock" />
                    </p>
                    <p class="control">
                        <a class="button is-static">unidades</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="file is-boxed is-large is-centered">
            <label class="file-label">
              <input class="file-input" type="file" name="imagen_producto" accept="image/*" />
              <span class="file-cta">
                <span class="file-icon">
                    <svg viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path fill-rule="evenodd" clip-rule="evenodd" d="M1 1H15V15H1V1ZM6 9L8 11L13 6V13H3V12L6 9ZM6.5 7C7.32843 7 8 6.32843 8 5.5C8 4.67157 7.32843 4 6.5 4C5.67157 4 5 4.67157 5 5.5C5 6.32843 5.67157 7 6.5 7Z" fill="currentColor"></path> </g></svg>
                </span>
                <span class="file-label">Imagen</span>
              </span>
            </label>
        </div>
        <button class="button is-primary">Agregar</button>
  </form>
{% endblock %}

{% block javascript %}
<script src="/javascript/agregarProducto.js"></script>
{% endblock %}
