<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}{% endblock %}</title>
    <!-- Importando el framework de Bulma -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css"
    />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/notyf@3/notyf.min.css">
    <link
      rel="stylesheet"
      href="/styles/base.css"
    />
    {% block styles %} {% endblock %}
  </head>
  <body>
    <header class="has-background-primary-20">
        <a href="/">
            <h1 class="title">Productos Abarrotes</h1>
        </a>
    </header>
    <main>
        {% block body %} {% endblock %}
    </main>
    <footer class="has-background-primary-20">hola soy el footer</footer>
    <script src="https://cdn.jsdelivr.net/npm/notyf@3/notyf.min.js"></script>
    {% block javascript %} {% endblock %}
  </body>
</html>
