{% extends "base.html" %} 

{% block title %}Productos{% endblock %}

{% block styles %} 
    <link rel="stylesheet" href="/styles/index.css">
{% endblock %}

{% block body %}
    <!--
        Esta parte es para crear un contenedor oculto que contiene informacion sobre
        mensajes de los toasts, como cuando se agrega, edita o borra un producto.
        Los atributos que tiene de data son obtenidos por JavaScript, por eso
        es importante que no se borre esta parte de este if    
    -->
    {% if mensaje and tipo_mensaje %}
        <p id="contenedor-informacion-toast" style="display: none;" data-tipo-mensaje="{{ tipo_mensaje }}" data-mensaje="{{ mensaje }}"></p>
    {% endif %}

    <!-- Botón siempre visible para agregar productos -->
    <div class="add-product-button">
        <a class="button is-primary" href="/productos/agregar">Agregar productos</a>
    </div>

    <!-- Mostrar productos si existen -->
    {% if productos.length > 0 %}
    <div class="productos-grid">
        {% for producto in productos %}
            <div class="producto-card">
                <a href="/productos/{{ producto.id }}">
                    <img src="{{ producto.url_imagen }}" alt="{{ producto.nombre }}" />
                    <p><strong>{{ producto.nombre }}</strong></p>
                    <p>Categoría: {{ producto.categoria.nombre }}</p>
                    <p>Precio: ${{ producto.precio_unitario }}</p>
                    <p>Stock: {{ producto.cantidad_en_stock }} unidades</p>
                </a>
            </div>
        {% endfor %}
    </div>
    {% else %}
        <!-- Mensaje si no hay productos -->
        <div class="no-productos">
            <p>No hay productos por mostrar!</p>
        </div>
    {% endif %}
{% endblock %}

{% block javascript %}
<script src="/javascript/toasts.js"></script>
{% endblock %}