{% extends "base.html" %}

{% block title %}Producto: {{ producto.nombre }}{% endblock %}

{% block body %}
<div class="container py-5">
    <div class="row justify-content-center">
        <div class="col-md-8 d-flex">
            <!-- Imagen del producto -->
            <div class="col-md-4">
                <img src="{{ producto.url_imagen }}" alt="{{ producto.nombre }}" class="img-fluid rounded-lg shadow-lg hover:scale-105 transition-transform duration-300" />
            </div>
            <!-- Detalles del producto -->
            <div class="col-md-8 ms-4">
                <div class="fs-5 mb-3"><strong>ID:</strong> {{ producto.id }}</div>
                <div class="fs-5 mb-3"><strong>Nombre:</strong> {{ producto.nombre }}</div>
                <div class="fs-5 mb-3"><strong>Categoría:</strong> {{ producto.categoria.nombre }}</div>
                <div class="fs-5 mb-3"><strong>Precio:</strong> ${{ producto.precio_unitario }}</div>
                <div class="fs-5 mb-3"><strong>Stock:</strong> {{ producto.cantidad_en_stock }}</div>
                
                <div class="mt-4">
                    <!-- Botones de acción -->
                    <a href="/productos/{{ producto.id }}/editar" class="btn btn-warning w-100 mb-3">
                        Editar
                    </a>
                    <button id="btn-borrar" class="btn btn-danger w-100" data-bs-toggle="modal" data-bs-target="#modalBorrar">
                         Borrar
                    </button>                    
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal de confirmación de borrado -->
<div class="modal" id="modalBorrar" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="modalBorrarLabel">¿Estás seguro?</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            Si borras este producto, no podrás recuperarlo.
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
          <button type="button" id="confirmar-borrado" class="btn btn-danger" data-id-producto="{{ producto.id }}">Confirmar</button>
        </div>
      </div>
    </div>
  </div>

{% endblock %}

{% block javascript %}
  <script src="/javascript/borrarProducto.js"></script>
{% endblock %}
