main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* para ocultar las flechas en los input de tipo number */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type="number"] {
  -moz-appearance: textfield; /* Firefox */
}
