main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#imagen_seleccionada {
  /*
    por defecto no se muestra por que no se ha seleccionada ninguna,
    cuando se selecciona alguna, con JavaScript se muestra
  */
  display: none;
  width: 100%;
  max-width: 300px;
  max-height: 300px;
  object-fit: cover;
}

/* para ocultar las flechas en los input de tipo number */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type="number"] {
  -moz-appearance: textfield; /* Firefox */
}
