/* Estilos personalizados */
img {
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.btn-warning {
  background-color: #FFB74D;
  border-color: #FFB74D;
}

.btn-warning:hover {
  background-color: #FB8C00;
  border-color: #FB8C00;
}

.btn-danger {
  background-color: #E57373;
  border-color: #E57373;
}

.btn-danger:hover {
  background-color: #D32F2F;
  border-color: #D32F2F;
}
